.container-82 {
  max-width: 82%;
  margin: 0 auto;
}

.sub_filter {
  .search-slider {
    width: 200px;
  }
}

// .slidecontainer {
//  width: 100%;
// }
.search-slider {
 -webkit-appearance: none;
 width: 100%;
 height: 5px;
 border-radius: 5px;
 background: #d3d3d3;
 outline: none;
 opacity: 0.7;
 -webkit-transition: .2s;
 transition: opacity .2s;
}

.search-slider:hover {
 opacity: 1;
}

.search-slider::-webkit-slider-thumb {
 -webkit-appearance: none;
 appearance: none;
 width: 15px;
 height: 15px;
 border-radius: 50%;
 background: #4CAF50;
 cursor: pointer;
}

.search-slider::-moz-range-thumb {
 width: 15px;
 height: 15px;
 border-radius: 50%;
 background: #4CAF50;
 cursor: pointer;
}

.fa-star {
  color:#f9ca24;
}
.bt_cerca {
  border-color: $iconic-color;
  color:$iconic-color;
  padding:8px;
}

.title {
  color: $iconic-color;
}

.btn-success {
  background-color: $iconic-color;
  color: #fff;
}

@media screen and (max-width:768px) {
    .bt_cerca {
      display:none;
    }
  }
  @media screen and (max-width:360px) {
      .tt-search-box-search-icon {
        width:150px;
      }
    }
