.login-button {
  background-color: $iconic-color;
}
.forgot-password {
  color: $iconic-color;
}

@media screen and (max-width:767px) {
  .login-button {
    display:block;
    width:100%;
  }
  .forgot-password {
    position: relative;
    left:50%;
    transform:translateX(-50%);
  }
}
