.messagecontainer {
  display:flex;
  flex-wrap: wrap;
}
.receivedmessage {
  width: 20%;
  margin:23px;
  background-color: #F4F2EF
}
.preview-message {
  text-overflow:ellipsis;
  overflow:hidden;
  max-width: 80ch;
  display: -webkit-box;
 -webkit-line-clamp: 1;
 -webkit-box-orient: vertical;
}
